.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content.issue-create-popup {
  background-color: #fff;
  width: 46vw;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Pretendard', sans-serif;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group input{
  cursor: pointer;
  background-color: #f4f4f4;
}

.form-group > label {
  font-weight: bold;
  margin-bottom: 0.375rem;
  color: #2c3e50;
}

.form-group > input,
.form-group > select,
.form-group > textarea {
  padding: 0.5rem 0.625rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-group > textarea {
  width: 100%;
  height: 6.25rem;
  box-sizing: border-box;
}

.form-group-row.date-time-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.datetime-inputs-column {
  flex: 1;
  flex-direction: column;
  gap: 0.75rem;
  min-width: 16.25rem;
  margin-right: 1.875rem;
}

.calendar-wrapper {
  flex: 1;
  min-width: 18.75rem;
}

.date-label-inputs {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.date-label-group {
  display: flex;
  flex-direction: column;
}

.date-label-group label {
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  color: #2c3e50;
}

.date-label-group input {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 11.25rem;
  background-color: #fff;
}

.date-display-input {
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 1.25rem;
  padding: 0.5rem 0.75rem;
  width: 15rem;
  font-family: 'Pretendard', sans-serif;
  background-color: #fff;
  border-radius: 0.25rem !important;
}

.time-section {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.time-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 18.75rem;
}

.time-column label {
  font-weight: bold;
  color: #2c3e50;
}

.time-inputs {
  display: flex;
  gap: 0.5rem;
}

.time-inputs select {
  position: relative;
  top: 0.125rem;
}


.time-inputs select,
.time-inputs input {
  flex: 1;
  height: 2.25rem;
  padding: 0.5rem 0.625rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.file-drop-area {
  border: 1px dashed #aaa;
  background-color: #f8f9fa;
  padding: 1.25rem;
  text-align: center;
  color: #888;
  font-size: 0.875rem;
  border-radius: 0.375rem;
}

.popup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.popup-footer.right-align {
  justify-content: flex-end;
}

.reporter {
  font-size: 0.875rem;
  color: #555;
}

.popup-buttons {
  display: flex;
  gap: 0.625rem;
}

.cancel-button,
.create-button {
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1.875rem;
}

.cancel-button {
  background-color: #f2f2f2;
  color: #333;
}

.create-button {
  background-color: #3f51b5;
  color: white;
}

/* 날짜 표시 상단 박스 배경 제거 */
.rdrDateDisplayWrapper {
  background-color: white !important;
  box-shadow: none !important;
  display: none;
}
