.find_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}  

.find_box {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0.25rem 1rem rgba(3, 45, 255, 0.2);
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 1;
}

.find_box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.find_box input {
    border: 1px solid #ddd;
    border-radius: 10vw;
    font-size: 0.8em;
}

.find_box input:focus {
    border-color: none;
}

.error_text {
    color: red;
    font-size: 0.7em;
    margin-top: 5px;
}

.find_page_button {
    width: 100%;
    padding: 0.75rem 0;
    background-color: #7e9dec;
    color: white;
    border: none;
    border-radius: 12vw;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.95rem;
    margin-bottom: 2vh;
}

.find_page_button:hover {
    background-color: #0056b3;
}

.find_page_button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.email_sent_info {
    text-align: center;
    color: #007AFF;
    margin: 15px 0;
    line-height: 1.5;
}

.found_id_container {
    text-align: center;
    margin: 20px 0; 
}

.found_id_text {
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 20px;
}

.found_id_text strong {
    color: #007AFF;
    font-size: 1.2em;
    display: inline-block;
    margin: 10px 0;
}
